{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'tasks/skeleton/css/skeleton.css' %}"
	>
</head>
<body>
<div>
<h4> Tasks Application </h4>
<b>{{ request.user }}</b>
{% if user.is_authenticated %}
  - {{ user.username }}
  <a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
 {% endif %}

</div>
<hr>
<div>
{% block content %}
{% endblock %}
</div>
</body>
</html>
